swagger: '2.0'
info:
  description: Serviço de Produto do Odonto
  version: 1.0.0
  title: produto-odonto
  x-ibm-name: produto-odonto
host: api.us.apiconnect.ibmcloud.com
basePath: /v1/produto-odonto
tags:
  - name: produto
    description: Operações que são relacionadas a produto
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/carteirinha/cliente/{cpf}':
    get:
      summary: Pesquisar carteirinha de um cliente
      tags:
        - produto
      operationId: '/carteirinha/cliente/{cpf}'
      parameters:
        - name: cpf
          in: path
          description: CPF do Segurado
          required: true
          type: integer
          format: int64
        - name: Token-Unimed
          type: string
          required: true
          in: header
          description: JWT
      responses:
        '200':
          description: Operação com sucesso
          schema:
            $ref: '#/definitions/pesquisarCarteirinhaType'
        '400':
          description: Informações inválidas
  '/carteirinha/{numero}/cpf/{cpf}':
    get:
      summary: Consultar detalhes de uma carteirinha
      tags:
        - produto
      operationId: '/carteirinha/{numero}/cpf/{cpf}'
      parameters:
        - name: numero
          in: path
          description: Número da Carteirinha
          required: true
          type: integer
          format: int64
        - name: cpf
          in: path
          description: CPF do Segurado
          required: true
          type: integer
          format: int64
        - name: Token-Unimed
          type: string
          required: true
          in: header
          description: JWT
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/consultarCarteirinhaType'
        '400':
          description: Informações inválidas
definitions:
  pesquisarCarteirinhaType:
    allOf:
      - $ref: '#/definitions/status_statusProcessamentoType'
      - type: object
        properties:
          resultado:
            $ref: '#/definitions/pesquisarCarteirinhaResultado'
  status_statusProcessamentoType:
    type: object
    properties:
      codigo:
        type: integer
        format: int32
      descricao:
        type: string
      detalhe:
        type: string
      mensagens:
        $ref: '#/definitions/status_mensagensType'
    required:
      - codigo
      - descricao
  status_mensagensType:
    type: object
    properties:
      mensagem:
        type: array
        items:
          $ref: '#/definitions/status_mensagem'
  status_mensagemType:
    type: object
    properties:
      descricao:
        type: string
      detalhe:
        type: string
  pesquisarCarteirinhaResultado:
    type: object
    properties:
      listaCarteirinha:
        $ref: '#/definitions/listaDadosPesquisarCarteirinha'
  status_mensagem:
    allOf:
      - $ref: '#/definitions/status_mensagemType'
      - type: object
  listaDadosPesquisarCarteirinha:
    type: object
    properties:
      carteirinha:
        type: array
        items:
          $ref: '#/definitions/dadosPesquisarCarteirinha'
  dadosPesquisarCarteirinha:
    type: object
    properties:
      produto:
        type: string
      numero:
        type: integer
        format: int32
      inicioVigencia:
        type: string
        format: date
      beneficiario:
        $ref: '#/definitions/dadosBeneficiario'
      status:
        type: string
  consultarCarteirinhaType:
    allOf:
      - $ref: '#/definitions/status_statusProcessamentoType'
      - type: object
        properties:
          resultado:
            $ref: '#/definitions/consultarCarteirinhaResultado'
  consultarCarteirinhaResultado:
    type: object
    properties:
      beneficiario:
        $ref: '#/definitions/dadosBeneficiario'
  dadosBeneficiario:
    type: object
    properties:
      nome:
        type: string
      numero:
        type: integer
        format: int64
      dataNascimento:
        type: string
        format: date
      situacao:
        type: string
      numeroCns:
        type: integer
        format: int64
      dataInclusaoPlano:
        type: string
        format: date
      tipoContrato:
        type: string
      categoriaTipoContrato:
        type: string
        enum:
          - Adesao
          - Empresarial
          - individual
      numeroContrato:
        type: integer
        format: int64
      nomeEmpresa:
        type: string
      endereco:
        $ref: '#/definitions/endereco'
      listaPlano:
        $ref: '#/definitions/listaDadosPlano'
      listaCobertura:
        $ref: '#/definitions/listaCobertura'
      listaBeneficio:
        $ref: '#/definitions/listaBeneficio'
      infoComplementar:
        $ref: '#/definitions/dadosInfoComplementar'
      listaDependente:
        $ref: '#/definitions/listaDadosDependente'
      tipo:
        $ref: '#/definitions/enumTipoBeneficiarioType'
  enumTipoBeneficiarioType:
    type: string
    enum:
      - T
      - D
  listaDadosDependente:
    type: object
    properties:
      dependente:
        type: array
        items:
          $ref: '#/definitions/dadosDependente'
  dadosDependente:
    type: object
    properties:
      nome:
        type: string
      dataNascimento:
        type: string
        format: date
      listaPlano:
        $ref: '#/definitions/listaDadosPlano'
      listaCobertura:
        $ref: '#/definitions/listaCobertura'
      listaBeneficio:
        $ref: '#/definitions/listaBeneficio'
      infoComplementar:
        $ref: '#/definitions/dadosInfoComplementar'
      numero:
        type: string
      numeroCNS:
        type: string
      situacao:
        type: string
  listaDadosPlano:
    type: object
    properties:
      plano:
        type: array
        items:
          $ref: '#/definitions/dadosPlano'
  dadosPlano:
    type: object
    properties:
      codigo:
        type: string
      nome:
        type: string
      codigoRegistroAns:
        type: integer
        format: int64
      abrangencia:
        type: string
      nomeProduto:
        type: string
      descricaoRegulamentacao:
        type: string
      tipoAcomodacao:
        type: string
      segmentacaoAssistencial:
        type: string
      tipoContratacao:
        type: string
      dataInicio:
        type: string
        format: date
      validadeCarteirinha:
        type: string
        format: date
      viaCarteirinha:
        type: string
      dataCpt:
        type: string
        format: date
      dataCarenciaUrgenciaEmergencia:
        type: string
        format: date
      dataCarenciaConsultaExameBasico:
        type: string
        format: date
      dataCarenciaTerapiaExamesEspeciais:
        type: string
        format: date
      carencias:
        $ref: '#/definitions/carenciasType'
  carenciaType:
    type: object
    properties:
      especialidade:
        $ref: '#/definitions/especialidadeType'
      dataFim:
        type: string
        format: date
  especialidadeType:
    type: object
    properties:
      nome:
        type: string
  carenciasType:
    type: array
    items:
      $ref: '#/definitions/carenciaType'
  listaCobertura:
    type: object
    properties:
      cobertura:
        type: array
        items:
          $ref: '#/definitions/dadosCobertura'
  dadosCobertura:
    type: object
    properties:
      codigo:
        type: string
      nome:
        type: string
      quantidadeLimiteUso:
        type: integer
        format: int32
      flagReembolso:
        type: string
  listaBeneficio:
    type: object
    properties:
      beneficio:
        type: array
        items:
          $ref: '#/definitions/dadosBeneficio'
  dadosBeneficio:
    type: object
    properties:
      codigo:
        type: string
      nome:
        type: string
      dataInicioVigencia:
        type: string
        format: date
      dataFimVigencia:
        type: string
        format: date
  dadosInfoComplementar:
    type: object
    properties:
      codigoRegistroOperadora:
        type: string
      nomeOperadora:
        type: string
      numeroSac:
        type: integer
        format: int64
      numeroAns:
        type: integer
        format: int64
      siteAns:
        type: string
  endereco:
    type: object
    properties:
      cep:
        type: string
      tipoLogradouro:
        type: string
      logradouro:
        type: string
      numero:
        type: integer
        format: int64
      complemento:
        type: string
      bairro:
        type: string
      cidade:
        type: string
      estado:
        $ref: '#/definitions/enumUf'
  enumUf:
    example: AC
    type: string
    enum:
      - AC AL AM AP BA CE DF ES GO MA MG MS MT PA PB PE PI PR RJ RN RO RR RS SC SE SP TO
  SoapFault:
    description: ''
    type: object
    properties:
      Envelope:
        type: object
        properties:
          Body:
            type: object
            properties:
              Fault:
                type: object
                properties:
                  faultcode:
                    type: string
                    xml:
                      namespace: ''
                  faultstring:
                    type: string
                    xml:
                      namespace: ''
                  detail:
                    type: string
                    xml:
                      namespace: ''
        xml:
          namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
          prefix: soapenv
    xml:
      namespace: ''
    example: "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\">\r\n   <soapenv:Body>\r\n      <soapenv:Fault>\r\n         <faultcode>1</faultcode>\r\n         <faultstring>1</faultstring>\r\n         <detail>\r\n          </detail>\r\n      </soapenv:Fault>\r\n   </soapenv:Body>\r\n</soapenv:Envelope>"
x-ibm-configuration:
  enforced: true
  testable: true
  phase: realized
  cors:
    enabled: true
  assembly:
    execute:
      - switch:
          title: switch
          case:
            - condition: '(api.operation.id===''/carteirinha/cliente/{cpf}'')'
              execute:
                - map:
                    title: 'pesquisarCarteirinha: input'
                    inputs:
                      cpf:
                        schema:
                          type: integer
                        variable: request.parameters.cpf
                        content: application/json
                    outputs:
                      body:
                        schema:
                          $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/pesquisarCarteirinhaInput'
                        variable: message.body
                        content: application/xml
                      content-type:
                        schema:
                          type: string
                        variable: message.headers.content-type
                      SOAPAction:
                        schema:
                          type: string
                        variable: message.headers.SOAPAction
                    actions:
                      - set: content-type
                        default: text/xml
                      - set: SOAPAction
                        default: 'https://segurosunimed/services/WSDLs/utilitario/produtoOdontoService/pesquisarCarteirinha'
                      - set: body.Envelope.Body.pesquisarCarteirinhaRequest.cpf
                        from: cpf
                - xslt:
                    title: xslt
                    input: true
                    version: 1.0.0
                    source: "<xsl:stylesheet version=\"1.0\" \r\n    xmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\"\r\n    xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"\r\n    xmlns:m=\"http://www.example.org/stock\">\r\n    <xsl:template match=\"/\">\r\n        <soap:Envelope>\r\n            <soap:Body>\r\n               <xsl:apply-templates select=\"soap:Envelope/soap:Body/*\"/>\r\n            </soap:Body>\r\n        </soap:Envelope>\r\n    </xsl:template>\r\n    <xsl:template match=\"@*|node()\">\r\n           <xsl:copy>\r\n               <xsl:apply-templates select=\"node()[boolean(normalize-space())]|@*\"/>\r\n           </xsl:copy>\r\n    </xsl:template>\r\n</xsl:stylesheet>"
                - invoke:
                    title: 'pesquisarCarteirinha: invoke'
                    target-url: 'http://$(api.properties.endpoint-iib)/v1/produto-odonto-service'
                    timeout: 60
                    verb: POST
                    cache-response: protocol
                    cache-ttl: 900
                    output: pesquisarCarteirinhaOut
                - map:
                    title: 'pesquisarCarteirinha: output'
                    inputs:
                      input:
                        schema:
                          $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/pesquisarCarteirinhaOutput'
                        variable: pesquisarCarteirinhaOut.body
                        content: application/xml
                      input_1:
                        schema:
                          $ref: '#/definitions/SoapFaultDTO'
                        variable: pesquisarCarteirinhaOut.body
                    outputs:
                      response:
                        schema:
                          $ref: '#/definitions/pesquisarCarteirinhaType'
                        variable: message.body
                        content: application/json
                      output:
                        schema:
                          $ref: '#/definitions/status_mensagemType'
                        variable: message.body
                    actions:
                      - set: response.descricao
                        from: input.Envelope.Body.pesquisarCarteirinhaResponse.descricao
                        default: ''
                      - create: response.resultado.listaCarteirinha.carteirinha
                        foreach: input.Envelope.Body.pesquisarCarteirinhaResponse.resultado.carteirinhas.carteirinha
                        from: input.Envelope.Body.pesquisarCarteirinhaResponse.resultado.carteirinhas.carteirinha
                        actions:
                          - set: inicioVigencia
                            from: dataInicioVigencia
                            default: ''
                          - set: produto
                            from: plano.nome
                            default: ''
                          - set: numero
                            from: numero
                            default: 0
                          - set: beneficiario.numeroContrato
                            from: plano.numeroContrato
                          - set: beneficiario.tipoContrato
                            from: plano.tipoContratacao
                          - set: status
                            from: statusCarteirinha
                      - set: output.descricao
                        from: input_1.Envelope.Body.Fault.faultcode
                      - set: output.detalhe
                        from: input_1.Envelope.Body.Fault.faultstring
                      - set: response.codigo
                        from: input.Envelope.Body.pesquisarCarteirinhaResponse.codigo
            - condition: '(api.operation.id===''/carteirinha/{numero}/cpf/{cpf}'')'
              execute:
                - map:
                    title: 'consultarCadastro: input'
                    inputs:
                      numero:
                        schema:
                          type: integer
                        variable: request.parameters.numero
                        content: application/json
                      cpf:
                        schema:
                          type: integer
                        variable: request.parameters.cpf
                        content: application/json
                    outputs:
                      body:
                        schema:
                          $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/consultarCadastroInput'
                        variable: message.body
                        content: application/xml
                      content-type:
                        schema:
                          type: string
                        variable: message.headers.content-type
                      SOAPAction:
                        schema:
                          type: string
                        variable: message.headers.SOAPAction
                    actions:
                      - set: content-type
                        default: text/xml
                      - set: SOAPAction
                        default: 'https://segurosunimed/services/WSDLs/utilitario/produtoOdontoService/consultarCadastro'
                      - set: body.Envelope.Body.consultarCadastroRequest.numeroCarteirinha
                        from: numero
                      - set: body.Envelope.Body.consultarCadastroRequest.cpf
                        from: cpf
                - xslt:
                    title: xslt
                    input: true
                    version: 1.0.0
                    source: "<xsl:stylesheet version=\"1.0\" \r\n    xmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\"\r\n    xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"\r\n    xmlns:m=\"http://www.example.org/stock\">\r\n    <xsl:template match=\"/\">\r\n        <soap:Envelope>\r\n            <soap:Body>\r\n               <xsl:apply-templates select=\"soap:Envelope/soap:Body/*\"/>\r\n            </soap:Body>\r\n        </soap:Envelope>\r\n    </xsl:template>\r\n    <xsl:template match=\"@*|node()\">\r\n           <xsl:copy>\r\n               <xsl:apply-templates select=\"node()[boolean(normalize-space())]|@*\"/>\r\n           </xsl:copy>\r\n    </xsl:template>\r\n</xsl:stylesheet>"
                - invoke:
                    title: 'consultarCadastro: invoke'
                    target-url: 'http://$(api.properties.endpoint-iib)/v1/produto-odonto-service'
                    timeout: 60
                    verb: POST
                    cache-response: protocol
                    cache-ttl: 900
                    output: consultarCadastroOut
                - map:
                    title: 'consultarCadastro: output'
                    inputs:
                      input:
                        schema:
                          $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/consultarCadastroOutput'
                        variable: consultarCadastroOut.body
                        content: application/xml
                      input_1:
                        schema:
                          $ref: '#/definitions/SoapFaultDTO'
                        variable: consultarCadastroOut.body
                        content: application/xml
                    outputs:
                      response:
                        schema:
                          $ref: '#/definitions/consultarCarteirinhaType'
                        variable: message.body
                        content: application/json
                      output:
                        schema:
                          $ref: '#/definitions/status_mensagemType'
                        variable: message.body
                    actions:
                      - set: response.codigo
                        from: input.Envelope.Body.consultarCadastroResponse.codigo
                      - set: response.descricao
                        from: input.Envelope.Body.consultarCadastroResponse.descricao
                      - set: output.detalhe
                        from: input_1.Envelope.Body.Fault.faultstring
                      - set: output.descricao
                        from: input_1.Envelope.Body.Fault.faultcode
                      - set: response.resultado.beneficiario.numero
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.numero
                        default: 0
                      - set: response.resultado.beneficiario.nome
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.nome
                        default: ''
                      - set: response.resultado.beneficiario.situacao
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.situacao
                        default: ''
                      - set: response.resultado.beneficiario.dataNascimento
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.dataNascimento
                        default: ''
                      - set: response.resultado.beneficiario.numeroCns
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.numeroCns
                        default: 0
                      - set: response.resultado.beneficiario.dataInclusaoPlano
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.dataInclusaoPlano
                        default: ''
                      - set: response.resultado.beneficiario.tipoContrato
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.tipoContrato
                        default: ''
                      - set: response.resultado.beneficiario.numeroContrato
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.numeroContrato
                        default: 0
                      - set: response.resultado.beneficiario.nomeEmpresa
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.nomeEmpresa
                        default: ''
                      - set: response.resultado.beneficiario.endereco.cep
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.enderecos.endereco.cep
                        default: ''
                      - set: response.resultado.beneficiario.endereco.tipoLogradouro
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.enderecos.endereco.tipoLogradouro
                        default: ''
                      - set: response.resultado.beneficiario.endereco.logradouro
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.enderecos.endereco.logradouro
                        default: ''
                      - set: response.resultado.beneficiario.endereco.numero
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.enderecos.endereco.numero
                        default: 0
                      - set: response.resultado.beneficiario.endereco.complemento
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.enderecos.endereco.complemento
                        default: ''
                      - set: response.resultado.beneficiario.endereco.bairro
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.enderecos.endereco.bairro
                        default: ''
                      - set: response.resultado.beneficiario.endereco.cidade
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.enderecos.endereco.cidade.nome
                        default: ''
                      - set: response.resultado.beneficiario.endereco.estado
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.enderecos.endereco.estado.nome
                        default: ''
                      - set: response.resultado.beneficiario.infoComplementar.codigoRegistroOperadora
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.infoComplementar.codigoRegistroOperadora
                        default: ''
                      - set: response.resultado.beneficiario.infoComplementar.nomeOperadora
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.infoComplementar.nomeOperadora
                        default: ''
                      - set: response.resultado.beneficiario.infoComplementar.numeroSac
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.infoComplementar.numeroSac
                        default: 0
                      - set: response.resultado.beneficiario.infoComplementar.numeroAns
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.infoComplementar.numeroAns
                        default: 0
                      - set: response.resultado.beneficiario.infoComplementar.siteAns
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.infoComplementar.descricaoSiteAns
                        default: ''
                      - create: response.resultado.beneficiario.listaDependente.dependente
                        foreach: input.Envelope.Body.consultarCadastroResponse.resultado.dependentes.dependente
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.dependentes.dependente
                        actions:
                          - set: nome
                            from: nome
                            default: ''
                          - set: dataNascimento
                            from: dataNascimento
                            default: ''
                          - create: listaPlano.plano
                            foreach: planos.plano
                            from: planos.plano
                            actions:
                              - set: nome
                                from: nome
                                default: ''
                              - set: codigoRegistroAns
                                from: codigoRegistroAns
                                default: 0
                              - set: abrangencia
                                from: abrangencia
                                default: ''
                              - set: nomeProduto
                                from: nomeProduto
                                default: ''
                              - set: segmentacaoAssistencial
                                from: segmentacaoAssistencial
                                default: ''
                              - set: tipoContratacao
                                from: tipoContratacao
                                default: ''
                              - set: dataInicio
                                from: dataInicio
                                default: ''
                              - set: tipoAcomodacao
                                from: tipoAcomodacao
                                default: ''
                              - set: descricaoRegulamentacao
                                from: descricaoRegulamentacao
                                default: ''
                              - set: dataCpt
                                from: dataCpt
                                default: ''
                              - set: dataCarenciaUrgenciaEmergencia
                                from: dataCarenciaUrgenciaEmergencia
                                default: ''
                              - set: dataCarenciaConsultaExameBasico
                                from: dataCarenciaConsultaExameBasico
                                default: ''
                              - set: dataCarenciaTerapiaExamesEspeciais
                                from: dataCarenciaTerapiaExamesEspeciais
                                default: ''
                              - set: viaCarteirinha
                                from: viaCarteirinha
                                default: ''
                              - set: validadeCarteirinha
                                from: dataInicioValidadeCarteirinha
                                default: ''
                              - set: codigo
                                from: codigo
                          - create: listaCobertura.cobertura
                            foreach: coberturas.cobertura
                            from: coberturas.cobertura
                            actions:
                              - set: codigo
                                from: codigo
                                default: ''
                              - set: nome
                                from: nome
                                default: ''
                              - set: quantidadeLimiteUso
                                from: quantidadeLimiteUso
                                default: 0
                              - set: flagReembolso
                                from: flagReembolso
                                default: ''
                          - create: listaBeneficio.beneficio
                            foreach: beneficios.beneficio
                            from: beneficios.beneficio
                            actions:
                              - set: codigo
                                from: codigo
                                default: ''
                              - set: nome
                                from: nome
                                default: ''
                              - set: dataInicioVigencia
                                from: dataInicioVigencia
                                default: ''
                              - set: dataFimVigencia
                                from: dataFimVigencia
                                default: ''
                          - set: infoComplementar.nomeOperadora
                            from: infoComplementar.nomeOperadora
                            default: ''
                          - set: infoComplementar.codigoRegistroOperadora
                            from: infoComplementar.codigoRegistroOperadora
                            default: ''
                          - set: infoComplementar.numeroSac
                            from: infoComplementar.numeroSac
                            default: 0
                          - set: infoComplementar.numeroAns
                            from: infoComplementar.numeroAns
                            default: 0
                          - set: infoComplementar.siteAns
                            from: infoComplementar.descricaoSiteAns
                            default: ''
                          - set: numero
                            from: numero
                          - set: numeroCNS
                            from: numeroCns
                          - set: situacao
                            from: situacao
                      - create: response.resultado.beneficiario.listaPlano.plano
                        foreach: input.Envelope.Body.consultarCadastroResponse.resultado.planos.plano
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.planos.plano
                        actions:
                          - set: nome
                            from: nome
                            default: ''
                          - set: codigoRegistroAns
                            from: codigoRegistroAns
                            default: 0
                          - set: abrangencia
                            from: abrangencia
                            default: ''
                          - set: nomeProduto
                            from: nomeProduto
                            default: ''
                          - set: descricaoRegulamentacao
                            from: descricaoRegulamentacao
                            default: ''
                          - set: tipoAcomodacao
                            from: tipoAcomodacao
                            default: ''
                          - set: segmentacaoAssistencial
                            from: segmentacaoAssistencial
                            default: ''
                          - set: tipoContratacao
                            from: tipoContratacao
                            default: ''
                          - set: dataInicio
                            from: dataInicio
                            default: ''
                          - set: validadeCarteirinha
                            from: dataFimValidadeCarteirinha
                            default: ''
                          - set: viaCarteirinha
                            from: viaCarteirinha
                            default: ''
                          - set: dataCpt
                            from: dataCpt
                            default: ''
                          - set: dataCarenciaUrgenciaEmergencia
                            from: dataCarenciaUrgenciaEmergencia
                            default: ''
                          - set: dataCarenciaConsultaExameBasico
                            from: dataCarenciaConsultaExameBasico
                            default: ''
                          - set: dataCarenciaTerapiaExamesEspeciais
                            from: dataCarenciaTerapiaExamesEspeciais
                            default: ''
                          - create: carencias
                            foreach: carencias.carencia
                            from: carencias.carencia
                            actions:
                              - set: especialidade.nome
                                from: especialidade.nome
                              - set: dataFim
                                from: dataFim
                          - set: codigo
                            from: codigo
                      - create: response.resultado.beneficiario.listaCobertura.cobertura
                        foreach: input.Envelope.Body.consultarCadastroResponse.resultado.coberturas.cobertura
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.coberturas.cobertura
                        actions:
                          - set: codigo
                            from: codigo
                            default: ''
                          - set: nome
                            from: nome
                            default: ''
                          - set: quantidadeLimiteUso
                            from: quantidadeLimiteUso
                            default: 0
                          - set: flagReembolso
                            from: flagReembolso
                            default: ''
                      - create: response.resultado.beneficiario.listaBeneficio.beneficio
                        foreach: input.Envelope.Body.consultarCadastroResponse.resultado.beneficios.beneficio
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficios.beneficio
                        actions:
                          - set: codigo
                            from: codigo
                            default: ''
                          - set: nome
                            from: nome
                            default: ''
                          - set: dataInicioVigencia
                            from: dataInicioVigencia
                            default: ''
                          - set: dataFimVigencia
                            from: dataFimVigencia
                            default: ''
                      - set: response.resultado.beneficiario.tipo
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.tipo
                        default: ''
                      - set: response.detalhe
                        from: input.Envelope.Body.consultarCadastroResponse.detalhe
                      - set: response.resultado.beneficiario.categoriaTipoContrato
                        from: input.Envelope.Body.consultarCadastroResponse.resultado.beneficiario.categoriaTipoContrato
          version: 1.0.0
    catch:
      - errors:
          - RuntimeError
        execute: []
  properties:
    endpoint-cognito:
      value: ''
      description: ''
      encoded: false
    endpoint-iib:
      value: ''
      description: ''
      encoded: false
  catalogs:
    Sandbox:
      properties:
        endpoint-iib: 'cap-sg-prd-4.securegateway.appdomain.cloud:19645'
    Pre Producao:
      properties:
        endpoint-iib: 'cap-sg-prd-4.securegateway.appdomain.cloud:19570'
    Desenvolvimento:
      properties:
        endpoint-iib: 'cap-sg-prd-4.securegateway.appdomain.cloud:19645'
        endpoint-cognito: 'https://cognito-idp.us-east-1.amazonaws.com/us-east-1_NnXzcA2BS/.well-known/jwks.json'
    Homologacao:
      properties:
        endpoint-iib: 'cap-sg-prd-4.securegateway.appdomain.cloud:19645'
        endpoint-cognito: 'https://cognito-idp.us-east-1.amazonaws.com/us-east-1_NnXzcA2BS/.well-known/jwks.json'
    Producao:
      properties:
        endpoint-iib: 'cap-sg-prd-2.integration.ibmcloud.com:18012'
        endpoint-cognito: 'https://cognito-idp.us-east-1.amazonaws.com/us-east-1_NnXzcA2BS/.well-known/jwks.json'
  targets:
    produtoOdontoService:
      swagger: '2.0'
      info:
        title: produtoOdontoService
        description: ''
        x-ibm-name: produtoodontoservice
        version: 1.0.0
      schemes:
        - https
      basePath: /produtoOdontoService
      produces:
        - application/xml
      consumes:
        - text/xml
      securityDefinitions:
        clientID:
          type: apiKey
          name: X-IBM-Client-Id
          in: header
          description: ''
      security:
        - clientID: []
      x-ibm-configuration:
        type: wsdl
        phase: realized
        enforced: true
        testable: true
        gateway: datapower-gateway
        cors:
          enabled: true
        wsdl-definition:
          wsdl: 5cd1e5d60cf24f6d6229c338
          service: produtoOdontoService
          port: produtoOdontoServicePortTypePort
          soap-version: '1.1'
        assembly:
          execute:
            - proxy:
                title: proxy
                target-url: 'http://ci.services.segurosunimed.com.br:7800/v1/produto-odonto-service'
      paths:
        /pesquisarCarteirinha:
          post:
            summary: Operation pesquisarCarteirinha
            description: ''
            operationId: pesquisarCarteirinha
            x-ibm-soap:
              soap-action: 'https://segurosunimed/services/WSDLs/utilitario/produtoOdontoService/pesquisarCarteirinha'
              soap-operation: '{https://segurosunimed/servicos/Schemas/mensageria/produtoAns}pesquisarCarteirinhaRequest'
            parameters:
              - in: body
                name: body
                required: true
                schema:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/pesquisarCarteirinhaInput'
            responses:
              default:
                description: ''
                schema:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/pesquisarCarteirinhaOutput'
        /consultarCadastro:
          post:
            summary: Operation consultarCadastro
            description: ''
            operationId: consultarCadastro
            x-ibm-soap:
              soap-action: 'https://segurosunimed/services/WSDLs/utilitario/produtoOdontoService/consultarCadastro'
              soap-operation: '{https://segurosunimed/servicos/Schemas/mensageria/produtoAns}consultarCadastroRequest'
            parameters:
              - in: body
                name: body
                required: true
                schema:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/consultarCadastroInput'
            responses:
              default:
                description: ''
                schema:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/consultarCadastroOutput'
        /solicitarCarteirinha:
          post:
            summary: Operation solicitarCarteirinha
            description: ''
            operationId: solicitarCarteirinha
            x-ibm-soap:
              soap-action: 'https://segurosunimed/services/WSDLs/utilitario/produtoOdontoService/solicitarCarteirinha'
              soap-operation: '{https://segurosunimed/servicos/Schemas/mensageria/produtoAns}solicitarCarteirinhaRequest'
            parameters:
              - in: body
                name: body
                required: true
                schema:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/solicitarCarteirinhaInput'
            responses:
              default:
                description: ''
                schema:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/solicitarCarteirinhaOutput'
        /consultarLocalEntrega:
          post:
            summary: Operation consultarLocalEntrega
            description: ''
            operationId: consultarLocalEntrega
            x-ibm-soap:
              soap-action: 'https://segurosunimed/services/WSDLs/utilitario/produtoOdontoService/consultarLocalEntrega'
              soap-operation: '{https://segurosunimed/servicos/Schemas/mensageria/produtoAns}consultarLocalEntregaRequest'
            parameters:
              - in: body
                name: body
                required: true
                schema:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/consultarLocalEntregaInput'
            responses:
              default:
                description: ''
                schema:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/consultarLocalEntregaOutput'
        /pesquisarExtratoUtilizacao:
          post:
            summary: Operation pesquisarExtratoUtilizacao
            description: ''
            operationId: pesquisarExtratoUtilizacao
            x-ibm-soap:
              soap-action: 'https://segurosunimed/services/WSDLs/utilitario/produtoOdontoService/pesquisarExtratoUtilizacao'
              soap-operation: '{https://segurosunimed/servicos/Schemas/mensageria/produtoAns}pesquisarExtratoUtilizacaoRequest'
            parameters:
              - in: body
                name: body
                required: true
                schema:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/pesquisarExtratoUtilizacaoInput'
            responses:
              default:
                description: ''
                schema:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/pesquisarExtratoUtilizacaoOutput'
      definitions:
        Security:
          xml:
            namespace: 'http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd'
            prefix: wsse
          description: Header for WS-Security
          type: object
          properties:
            UsernameToken:
              xml:
                namespace: 'http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd'
                prefix: wsse
              type: object
              properties:
                Username:
                  xml:
                    namespace: 'http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd'
                    prefix: wsse
                  type: string
                Password:
                  xml:
                    namespace: 'http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd'
                    prefix: wsse
                  type: string
                Nonce:
                  xml:
                    namespace: 'http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd'
                    prefix: wsse
                  type: string
                  properties:
                    EncodingType:
                      xml:
                        namespace: ''
                        attribute: true
                      type: string
                Created:
                  xml:
                    namespace: 'http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd'
                    prefix: wsu
                  type: string
            Timestamp:
              xml:
                namespace: 'http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd'
                prefix: wsu
              type: object
              properties:
                Created:
                  xml:
                    namespace: 'http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd'
                    prefix: wsu
                  type: string
                Expires:
                  xml:
                    namespace: 'http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd'
                    prefix: wsu
                  type: string
                Id:
                  xml:
                    namespace: 'http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd'
                    prefix: wsu
                    attribute: true
                  type: string
        pesquisarCarteirinhaInput:
          type: object
          properties:
            Envelope:
              xml:
                prefix: soapenv
                namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
              type: object
              properties:
                Header:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/pesquisarCarteirinhaHeader'
                Body:
                  type: object
                  properties:
                    pesquisarCarteirinhaRequest:
                      $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/pesquisarCarteirinhaRequest_produto'
                  required:
                    - pesquisarCarteirinhaRequest
                  xml:
                    namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
                    prefix: soapenv
              required:
                - Body
          required:
            - Envelope
          example: |-

            <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
             <soapenv:Header>
              <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
               <wsse:UsernameToken>
                <wsse:Username>string</wsse:Username>
                <wsse:Password>string</wsse:Password>
                <wsse:Nonce EncodingType="string">string</wsse:Nonce>
                <wsu:Created>string</wsu:Created>
               </wsse:UsernameToken>
               <wsu:Timestamp wsu:Id="string">
                <wsu:Created>string</wsu:Created>
                <wsu:Expires>string</wsu:Expires>
               </wsu:Timestamp>
              </wsse:Security>
             </soapenv:Header>
             <soapenv:Body>
              <produto:pesquisarCarteirinhaRequest xmlns:produto="https://segurosunimed/servicos/Schemas/mensageria/produtoAns"><!-- mandatory -->
               <produto:cpf>3</produto:cpf>
               <produto:numeroCarteirinha>string</produto:numeroCarteirinha>
              </produto:pesquisarCarteirinhaRequest>
             </soapenv:Body>
            </soapenv:Envelope>
        pesquisarCarteirinhaHeader:
          type: object
          properties:
            Security:
              $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/Security'
        pesquisarCarteirinhaOutput:
          type: object
          properties:
            Envelope:
              xml:
                prefix: soapenv
                namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
              type: object
              properties:
                Body:
                  type: object
                  properties:
                    pesquisarCarteirinhaResponse:
                      $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/pesquisarCarteirinhaResponse_produto'
                  xml:
                    namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
                    prefix: soapenv
              required:
                - Body
          required:
            - Envelope
          example: |-

            <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
             <soapenv:Body>
              <produto:pesquisarCarteirinhaResponse xmlns:ns3="https://segurosunimed/servicos/Schemas/mensageria/statusProcessamento" xmlns:produto="https://segurosunimed/servicos/Schemas/mensageria/produtoAns" xmlns:ns6="https://segurosunimed/servicos/Schemas/saudeSuplementar/v1/carencia" xmlns:ns7="https://segurosunimed/servicos/Schemas/saudeSuplementar/v1/especialidade" xmlns:ns8="https://segurosunimed/servicos/Schemas/saudeSuplementar/v1/procedimento" xmlns:ns4="https://segurosunimed/servicos/Schemas/beneficiario" xmlns:ns2="https://segurosunimed/servicos/Schemas/v2/endereco" xmlns:ns5="https://segurosunimed/servicos/Schemas/pagamento/tituloFinanceiro">
               <ns3:codigo><!-- mandatory -->3</ns3:codigo>
               <ns3:descricao><!-- mandatory -->string</ns3:descricao>
               <ns3:detalhe>string</ns3:detalhe>
               <ns3:mensagens>
                <ns3:mensagem><!-- between zero and unlimited repetitions of this element -->
                 <ns3:descricao>string</ns3:descricao>
                 <ns3:detalhe>string</ns3:detalhe>
                </ns3:mensagem>
               </ns3:mensagens>
               <produto:resultado>
                <produto:carteirinhas>
                 <produto:carteirinha><!-- between zero and unlimited repetitions of this element -->
                  <produto:numero>string</produto:numero>
                  <produto:dataInicioVigencia>2016-04-18</produto:dataInicioVigencia>
                  <produto:statusCarteirinha>string</produto:statusCarteirinha>
                  <produto:nomeComercial>string</produto:nomeComercial>
                  <produto:plano>
                   <produto:codigo>string</produto:codigo>
                   <produto:nome>string</produto:nome>
                   <produto:numeroContrato>string</produto:numeroContrato>
                   <produto:codigoRegistroAns>string</produto:codigoRegistroAns>
                   <produto:abrangencia>string</produto:abrangencia>
                   <produto:nomeProduto>string</produto:nomeProduto>
                   <produto:flagRegulamentado>string</produto:flagRegulamentado>
                   <produto:tipoAcomodacao>string</produto:tipoAcomodacao>
                   <produto:segmentacaoAssistencial>string</produto:segmentacaoAssistencial>
                   <produto:tipoContratacao>string</produto:tipoContratacao>
                   <produto:dataInicio>2016-04-18</produto:dataInicio>
                   <produto:viaCarteirinha>string</produto:viaCarteirinha>
                   <produto:dataInicioValidadeCarteirinha>2016-04-18</produto:dataInicioValidadeCarteirinha>
                   <produto:dataFimValidadeCarteirinha>2016-04-18</produto:dataFimValidadeCarteirinha>
                   <produto:dataCpt>2016-04-18</produto:dataCpt>
                   <produto:dataCarenciaUrgenciaEmergencia>2016-04-18</produto:dataCarenciaUrgenciaEmergencia>
                   <produto:dataCarenciaConsultaExameBasico>2016-04-18</produto:dataCarenciaConsultaExameBasico>
                   <produto:dataCarenciaTerapiaExamesEspeciais>2016-04-18</produto:dataCarenciaTerapiaExamesEspeciais>
                   <produto:dataCarenciaInternacaoPsicObstTransplantes>2016-04-18</produto:dataCarenciaInternacaoPsicObstTransplantes>
                   <produto:dataCarenciaPartoTermo>2016-04-18</produto:dataCarenciaPartoTermo>
                   <produto:dataCarenciaInternacaoClinica>2016-04-18</produto:dataCarenciaInternacaoClinica>
                   <produto:descricaoRegulamentacao>string</produto:descricaoRegulamentacao>
                   <produto:perfilRede>string</produto:perfilRede>
                   <produto:situacao>string</produto:situacao>
                   <produto:codigoPlanoTop>string</produto:codigoPlanoTop>
                   <produto:statusCarteirinha>string</produto:statusCarteirinha>
                   <produto:coberturaParcialTemporaria>string</produto:coberturaParcialTemporaria>
                   <produto:carenciaUrgenciaEmergencia>string</produto:carenciaUrgenciaEmergencia>
                   <produto:carenciaterapiaExamesEspeciais>string</produto:carenciaterapiaExamesEspeciais>
                   <produto:carenciaInternacaoPsicObstTransplantes>string</produto:carenciaInternacaoPsicObstTransplantes>
                   <produto:carenciaPartoTermo>string</produto:carenciaPartoTermo>
                   <produto:carenciaInternacaoClinica>string</produto:carenciaInternacaoClinica>
                   <ns6:carencias>
                    <ns6:carencia><!-- between zero and unlimited repetitions of this element -->
                     <ns7:especialidade>
                      <ns7:codigo>string</ns7:codigo>
                      <ns7:nome>string</ns7:nome>
                      <ns7:tipo>string</ns7:tipo>
                     </ns7:especialidade>
                     <ns8:procedimento>
                      <ns8:codigo>string</ns8:codigo>
                      <ns8:nome>string</ns8:nome>
                     </ns8:procedimento>
                     <ns6:dataFim>2016-04-18</ns6:dataFim>
                    </ns6:carencia>
                   </ns6:carencias>
                  </produto:plano>
                  <ns4:beneficiario>
                   <ns4:numero>string</ns4:numero>
                   <ns4:nome>string</ns4:nome>
                   <ns4:situacao>string</ns4:situacao>
                   <ns4:dataNascimento>2016-04-18</ns4:dataNascimento>
                   <ns4:numeroCns>string</ns4:numeroCns>
                   <ns4:dataInclusaoPlano>string</ns4:dataInclusaoPlano>
                   <ns4:tipoContrato>string</ns4:tipoContrato>
                   <ns4:numeroContrato>string</ns4:numeroContrato>
                   <ns4:nomeEmpresa>string</ns4:nomeEmpresa>
                   <ns4:nomeAdministradora>string</ns4:nomeAdministradora>
                   <ns4:codigoPlano>string</ns4:codigoPlano>
                   <ns4:codigoProduto>string</ns4:codigoProduto>
                   <ns4:nomePlano>string</ns4:nomePlano>
                   <ns4:utilizacoes>
                    <ns4:utilizacao><!-- between zero and unlimited repetitions of this element -->
                     <ns4:tipo>string</ns4:tipo>
                     <ns4:atendimentos>
                      <ns4:atendimento><!-- between zero and unlimited repetitions of this element --><!-- schema nesting too deep, truncated example --></ns4:atendimento>
                     </ns4:atendimentos>
                     <ns4:totalConsulta>string</ns4:totalConsulta>
                     <ns4:totalExames>string</ns4:totalExames>
                     <ns4:totalTerapias>string</ns4:totalTerapias>
                     <ns4:totalInternacoes>string</ns4:totalInternacoes>
                     <ns4:totalOdontologia>string</ns4:totalOdontologia>
                     <ns4:totalOutrasDespesas>string</ns4:totalOutrasDespesas>
                     <ns4:totalGeral>string</ns4:totalGeral>
                    </ns4:utilizacao>
                   </ns4:utilizacoes>
                   <ns4:enderecos>
                    <ns2:endereco><!-- between zero and unlimited repetitions of this element -->
                     <ns2:identificador>string</ns2:identificador>
                     <ns2:cep>string</ns2:cep>
                     <ns2:tipoLogradouro>string</ns2:tipoLogradouro>
                     <ns2:tipo>string</ns2:tipo>
                     <ns2:logradouro>string</ns2:logradouro>
                     <ns2:numero>3</ns2:numero>
                     <ns2:complemento>string</ns2:complemento>
                     <ns2:bairro>string</ns2:bairro>
                     <ns2:cidade>
                      <ns2:codigo>string</ns2:codigo>
                      <ns2:nome>string</ns2:nome>
                     </ns2:cidade>
                     <ns2:codigoMunicipio>3</ns2:codigoMunicipio>
                     <ns2:estado>
                      <ns2:codigo>string</ns2:codigo>
                      <ns2:nome>string</ns2:nome>
                      <ns2:sigla>string</ns2:sigla>
                     </ns2:estado>
                     <ns2:coordenadasGeografica>
                      <ns2:latitude>3</ns2:latitude>
                      <ns2:longitude>3</ns2:longitude>
                      <ns2:distancia>3</ns2:distancia>
                     </ns2:coordenadasGeografica>
                    </ns2:endereco>
                   </ns4:enderecos>
                   <ns5:listaTituloFinanceiro>
                    <ns5:tituloFinanceiro><!-- between zero and unlimited repetitions of this element -->
                     <ns5:valorPago>string</ns5:valorPago>
                     <ns5:numeroParcela>string</ns5:numeroParcela>
                     <ns5:desconto>string</ns5:desconto>
                     <ns5:anoVencimento>2016-04-18</ns5:anoVencimento>
                     <ns5:dataVencimento>2016-04-18</ns5:dataVencimento>
                     <ns5:nossoNumero>string</ns5:nossoNumero>
                     <ns5:dataPagamento>2016-04-18</ns5:dataPagamento>
                     <ns5:status>string</ns5:status>
                     <ns5:tipo>string</ns5:tipo>
                     <ns5:valor>string</ns5:valor>
                     <ns5:formaPagamento>string</ns5:formaPagamento>
                     <ns5:numeroFatura>string</ns5:numeroFatura>
                     <ns5:periodicidade>string</ns5:periodicidade>
                     <ns5:permiteProrrogacao>true</ns5:permiteProrrogacao>
                     <ns5:permiteSegundaVia>true</ns5:permiteSegundaVia>
                     <ns5:dataEmissao>2016-04-18</ns5:dataEmissao>
                    </ns5:tituloFinanceiro>
                   </ns5:listaTituloFinanceiro>
                   <ns4:email>string</ns4:email>
                   <ns4:tipo>string</ns4:tipo>
                   <ns4:categoriaTipoContrato>string</ns4:categoriaTipoContrato>
                  </ns4:beneficiario>
                 </produto:carteirinha>
                </produto:carteirinhas>
               </produto:resultado>
              </produto:pesquisarCarteirinhaResponse>
             </soapenv:Body>
            </soapenv:Envelope>
        consultarCadastroInput:
          type: object
          properties:
            Envelope:
              xml:
                prefix: soapenv
                namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
              type: object
              properties:
                Header:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/consultarCadastroHeader'
                Body:
                  type: object
                  properties:
                    consultarCadastroRequest:
                      $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/consultarCadastroRequest_produto'
                  required:
                    - consultarCadastroRequest
                  xml:
                    namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
                    prefix: soapenv
              required:
                - Body
          required:
            - Envelope
          example: |-

            <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
             <soapenv:Header>
              <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
               <wsse:UsernameToken>
                <wsse:Username>string</wsse:Username>
                <wsse:Password>string</wsse:Password>
                <wsse:Nonce EncodingType="string">string</wsse:Nonce>
                <wsu:Created>string</wsu:Created>
               </wsse:UsernameToken>
               <wsu:Timestamp wsu:Id="string">
                <wsu:Created>string</wsu:Created>
                <wsu:Expires>string</wsu:Expires>
               </wsu:Timestamp>
              </wsse:Security>
             </soapenv:Header>
             <soapenv:Body>
              <produto:consultarCadastroRequest xmlns:produto="https://segurosunimed/servicos/Schemas/mensageria/produtoAns"><!-- mandatory -->
               <produto:cpf>3</produto:cpf>
               <produto:numeroCarteirinha>string</produto:numeroCarteirinha>
              </produto:consultarCadastroRequest>
             </soapenv:Body>
            </soapenv:Envelope>
        consultarCadastroHeader:
          type: object
          properties:
            Security:
              $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/Security'
        consultarCadastroOutput:
          type: object
          properties:
            Envelope:
              xml:
                prefix: soapenv
                namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
              type: object
              properties:
                Body:
                  type: object
                  properties:
                    consultarCadastroResponse:
                      $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/consultarCadastroResponse_produto'
                  xml:
                    namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
                    prefix: soapenv
              required:
                - Body
          required:
            - Envelope
          example: |-

            <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
             <soapenv:Body>
              <produto:consultarCadastroResponse xmlns:ns3="https://segurosunimed/servicos/Schemas/mensageria/statusProcessamento" xmlns:produto="https://segurosunimed/servicos/Schemas/mensageria/produtoAns" xmlns:ns4="https://segurosunimed/servicos/Schemas/beneficiario" xmlns:ns2="https://segurosunimed/servicos/Schemas/v2/endereco" xmlns:ns5="https://segurosunimed/servicos/Schemas/pagamento/tituloFinanceiro" xmlns:ns6="https://segurosunimed/servicos/Schemas/saudeSuplementar/v1/carencia" xmlns:ns7="https://segurosunimed/servicos/Schemas/saudeSuplementar/v1/especialidade" xmlns:ns8="https://segurosunimed/servicos/Schemas/saudeSuplementar/v1/procedimento">
               <ns3:codigo><!-- mandatory -->3</ns3:codigo>
               <ns3:descricao><!-- mandatory -->string</ns3:descricao>
               <ns3:detalhe>string</ns3:detalhe>
               <ns3:mensagens>
                <ns3:mensagem><!-- between zero and unlimited repetitions of this element -->
                 <ns3:descricao>string</ns3:descricao>
                 <ns3:detalhe>string</ns3:detalhe>
                </ns3:mensagem>
               </ns3:mensagens>
               <produto:resultado>
                <ns4:beneficiario>
                 <ns4:numero>string</ns4:numero>
                 <ns4:nome>string</ns4:nome>
                 <ns4:situacao>string</ns4:situacao>
                 <ns4:dataNascimento>2016-04-18</ns4:dataNascimento>
                 <ns4:numeroCns>string</ns4:numeroCns>
                 <ns4:dataInclusaoPlano>string</ns4:dataInclusaoPlano>
                 <ns4:tipoContrato>string</ns4:tipoContrato>
                 <ns4:numeroContrato>string</ns4:numeroContrato>
                 <ns4:nomeEmpresa>string</ns4:nomeEmpresa>
                 <ns4:nomeAdministradora>string</ns4:nomeAdministradora>
                 <ns4:codigoPlano>string</ns4:codigoPlano>
                 <ns4:codigoProduto>string</ns4:codigoProduto>
                 <ns4:nomePlano>string</ns4:nomePlano>
                 <ns4:utilizacoes>
                  <ns4:utilizacao><!-- between zero and unlimited repetitions of this element -->
                   <ns4:tipo>string</ns4:tipo>
                   <ns4:atendimentos>
                    <ns4:atendimento><!-- between zero and unlimited repetitions of this element -->
                     <ns4:tipo>string</ns4:tipo>
                     <ns4:codigoPrestador>string</ns4:codigoPrestador>
                     <ns4:nomePrestador>string</ns4:nomePrestador>
                     <ns4:numeroPrestadorCnpj>string</ns4:numeroPrestadorCnpj>
                     <ns4:numero>3</ns4:numero>
                     <ns4:numeroConta>string</ns4:numeroConta>
                     <ns4:codigoItem>string</ns4:codigoItem>
                     <ns4:descricaoItem>string</ns4:descricaoItem>
                     <ns4:quantidadeSolicitada>string</ns4:quantidadeSolicitada>
                     <ns4:dataAtendimento>2016-04-18</ns4:dataAtendimento>
                     <ns4:valorApresentado>string</ns4:valorApresentado>
                     <ns4:valorCoparticipacao>string</ns4:valorCoparticipacao>
                     <ns4:valorPago>string</ns4:valorPago>
                     <ns4:dataPagamento>2016-04-18</ns4:dataPagamento>
                    </ns4:atendimento>
                   </ns4:atendimentos>
                   <ns4:totalConsulta>string</ns4:totalConsulta>
                   <ns4:totalExames>string</ns4:totalExames>
                   <ns4:totalTerapias>string</ns4:totalTerapias>
                   <ns4:totalInternacoes>string</ns4:totalInternacoes>
                   <ns4:totalOdontologia>string</ns4:totalOdontologia>
                   <ns4:totalOutrasDespesas>string</ns4:totalOutrasDespesas>
                   <ns4:totalGeral>string</ns4:totalGeral>
                  </ns4:utilizacao>
                 </ns4:utilizacoes>
                 <ns4:enderecos>
                  <ns2:endereco><!-- between zero and unlimited repetitions of this element -->
                   <ns2:identificador>string</ns2:identificador>
                   <ns2:cep>string</ns2:cep>
                   <ns2:tipoLogradouro>string</ns2:tipoLogradouro>
                   <ns2:tipo>string</ns2:tipo>
                   <ns2:logradouro>string</ns2:logradouro>
                   <ns2:numero>3</ns2:numero>
                   <ns2:complemento>string</ns2:complemento>
                   <ns2:bairro>string</ns2:bairro>
                   <ns2:cidade>
                    <ns2:codigo>string</ns2:codigo>
                    <ns2:nome>string</ns2:nome>
                   </ns2:cidade>
                   <ns2:codigoMunicipio>3</ns2:codigoMunicipio>
                   <ns2:estado>
                    <ns2:codigo>string</ns2:codigo>
                    <ns2:nome>string</ns2:nome>
                    <ns2:sigla>string</ns2:sigla>
                   </ns2:estado>
                   <ns2:coordenadasGeografica>
                    <ns2:latitude>3</ns2:latitude>
                    <ns2:longitude>3</ns2:longitude>
                    <ns2:distancia>3</ns2:distancia>
                   </ns2:coordenadasGeografica>
                  </ns2:endereco>
                 </ns4:enderecos>
                 <ns5:listaTituloFinanceiro>
                  <ns5:tituloFinanceiro><!-- between zero and unlimited repetitions of this element -->
                   <ns5:valorPago>string</ns5:valorPago>
                   <ns5:numeroParcela>string</ns5:numeroParcela>
                   <ns5:desconto>string</ns5:desconto>
                   <ns5:anoVencimento>2016-04-18</ns5:anoVencimento>
                   <ns5:dataVencimento>2016-04-18</ns5:dataVencimento>
                   <ns5:nossoNumero>string</ns5:nossoNumero>
                   <ns5:dataPagamento>2016-04-18</ns5:dataPagamento>
                   <ns5:status>string</ns5:status>
                   <ns5:tipo>string</ns5:tipo>
                   <ns5:valor>string</ns5:valor>
                   <ns5:formaPagamento>string</ns5:formaPagamento>
                   <ns5:numeroFatura>string</ns5:numeroFatura>
                   <ns5:periodicidade>string</ns5:periodicidade>
                   <ns5:permiteProrrogacao>true</ns5:permiteProrrogacao>
                   <ns5:permiteSegundaVia>true</ns5:permiteSegundaVia>
                   <ns5:dataEmissao>2016-04-18</ns5:dataEmissao>
                  </ns5:tituloFinanceiro>
                 </ns5:listaTituloFinanceiro>
                 <ns4:email>string</ns4:email>
                 <ns4:tipo>string</ns4:tipo>
                 <ns4:categoriaTipoContrato>string</ns4:categoriaTipoContrato>
                </ns4:beneficiario>
                <produto:dependentes>
                 <produto:dependente><!-- between zero and unlimited repetitions of this element -->
                  <produto:codigoTs>string</produto:codigoTs>
                  <produto:nome>string</produto:nome>
                  <produto:dataNascimento>2016-04-18</produto:dataNascimento>
                  <produto:planos>
                   <produto:plano><!-- between zero and unlimited repetitions of this element -->
                    <produto:codigo>string</produto:codigo>
                    <produto:nome>string</produto:nome>
                    <produto:numeroContrato>string</produto:numeroContrato>
                    <produto:codigoRegistroAns>string</produto:codigoRegistroAns>
                    <produto:abrangencia>string</produto:abrangencia>
                    <produto:nomeProduto>string</produto:nomeProduto>
                    <produto:flagRegulamentado>string</produto:flagRegulamentado>
                    <produto:tipoAcomodacao>string</produto:tipoAcomodacao>
                    <produto:segmentacaoAssistencial>string</produto:segmentacaoAssistencial>
                    <produto:tipoContratacao>string</produto:tipoContratacao>
                    <produto:dataInicio>2016-04-18</produto:dataInicio>
                    <produto:viaCarteirinha>string</produto:viaCarteirinha>
                    <produto:dataInicioValidadeCarteirinha>2016-04-18</produto:dataInicioValidadeCarteirinha>
                    <produto:dataFimValidadeCarteirinha>2016-04-18</produto:dataFimValidadeCarteirinha>
                    <produto:dataCpt>2016-04-18</produto:dataCpt>
                    <produto:dataCarenciaUrgenciaEmergencia>2016-04-18</produto:dataCarenciaUrgenciaEmergencia>
                    <produto:dataCarenciaConsultaExameBasico>2016-04-18</produto:dataCarenciaConsultaExameBasico>
                    <produto:dataCarenciaTerapiaExamesEspeciais>2016-04-18</produto:dataCarenciaTerapiaExamesEspeciais>
                    <produto:dataCarenciaInternacaoPsicObstTransplantes>2016-04-18</produto:dataCarenciaInternacaoPsicObstTransplantes>
                    <produto:dataCarenciaPartoTermo>2016-04-18</produto:dataCarenciaPartoTermo>
                    <produto:dataCarenciaInternacaoClinica>2016-04-18</produto:dataCarenciaInternacaoClinica>
                    <produto:descricaoRegulamentacao>string</produto:descricaoRegulamentacao>
                    <produto:perfilRede>string</produto:perfilRede>
                    <produto:situacao>string</produto:situacao>
                    <produto:codigoPlanoTop>string</produto:codigoPlanoTop>
                    <produto:statusCarteirinha>string</produto:statusCarteirinha>
                    <produto:coberturaParcialTemporaria>string</produto:coberturaParcialTemporaria>
                    <produto:carenciaUrgenciaEmergencia>string</produto:carenciaUrgenciaEmergencia>
                    <produto:carenciaterapiaExamesEspeciais>string</produto:carenciaterapiaExamesEspeciais>
                    <produto:carenciaInternacaoPsicObstTransplantes>string</produto:carenciaInternacaoPsicObstTransplantes>
                    <produto:carenciaPartoTermo>string</produto:carenciaPartoTermo>
                    <produto:carenciaInternacaoClinica>string</produto:carenciaInternacaoClinica>
                    <ns6:carencias>
                     <ns6:carencia><!-- between zero and unlimited repetitions of this element -->
                      <ns7:especialidade><!-- schema nesting too deep, truncated example --></ns7:especialidade>
                      <ns8:procedimento><!-- schema nesting too deep, truncated example --></ns8:procedimento>
                      <ns6:dataFim>2016-04-18</ns6:dataFim>
                     </ns6:carencia>
                    </ns6:carencias>
                   </produto:plano>
                  </produto:planos>
                  <produto:coberturas>
                   <produto:cobertura><!-- between zero and unlimited repetitions of this element -->
                    <produto:codigo>string</produto:codigo>
                    <produto:nome>string</produto:nome>
                    <produto:quantidadeLimiteUso>3</produto:quantidadeLimiteUso>
                    <produto:flagReembolso>string</produto:flagReembolso>
                   </produto:cobertura>
                  </produto:coberturas>
                  <produto:beneficios>
                   <produto:beneficio><!-- between zero and unlimited repetitions of this element -->
                    <produto:codigo>string</produto:codigo>
                    <produto:nome>string</produto:nome>
                    <produto:dataInicioVigencia>2016-04-18</produto:dataInicioVigencia>
                    <produto:dataFimVigencia>2016-04-18</produto:dataFimVigencia>
                   </produto:beneficio>
                  </produto:beneficios>
                  <produto:infoComplementar>
                   <produto:nomeResponsavel>string</produto:nomeResponsavel>
                   <produto:profissao>string</produto:profissao>
                   <produto:grauEscolaridade>string</produto:grauEscolaridade>
                   <produto:nacionalidade>string</produto:nacionalidade>
                   <produto:tipoAssociado>string</produto:tipoAssociado>
                   <produto:faixaRenda>string</produto:faixaRenda>
                   <produto:timeFutebol>string</produto:timeFutebol>
                   <produto:flagConjuge>string</produto:flagConjuge>
                   <produto:flagFilhos>string</produto:flagFilhos>
                   <produto:flagPets>string</produto:flagPets>
                   <produto:codigoRegistroOperadora>string</produto:codigoRegistroOperadora>
                   <produto:nomeOperadora>string</produto:nomeOperadora>
                   <produto:numeroSac>string</produto:numeroSac>
                   <produto:numeroAns>string</produto:numeroAns>
                   <produto:descricaoSiteAns>string</produto:descricaoSiteAns>
                   <produto:descricaoSegmento>string</produto:descricaoSegmento>
                  </produto:infoComplementar>
                  <produto:numero>string</produto:numero>
                  <produto:numeroCns>string</produto:numeroCns>
                  <produto:situacao>string</produto:situacao>
                 </produto:dependente>
                </produto:dependentes>
                <produto:planos>
                 <produto:plano><!-- between zero and unlimited repetitions of this element -->
                  <produto:codigo>string</produto:codigo>
                  <produto:nome>string</produto:nome>
                  <produto:numeroContrato>string</produto:numeroContrato>
                  <produto:codigoRegistroAns>string</produto:codigoRegistroAns>
                  <produto:abrangencia>string</produto:abrangencia>
                  <produto:nomeProduto>string</produto:nomeProduto>
                  <produto:flagRegulamentado>string</produto:flagRegulamentado>
                  <produto:tipoAcomodacao>string</produto:tipoAcomodacao>
                  <produto:segmentacaoAssistencial>string</produto:segmentacaoAssistencial>
                  <produto:tipoContratacao>string</produto:tipoContratacao>
                  <produto:dataInicio>2016-04-18</produto:dataInicio>
                  <produto:viaCarteirinha>string</produto:viaCarteirinha>
                  <produto:dataInicioValidadeCarteirinha>2016-04-18</produto:dataInicioValidadeCarteirinha>
                  <produto:dataFimValidadeCarteirinha>2016-04-18</produto:dataFimValidadeCarteirinha>
                  <produto:dataCpt>2016-04-18</produto:dataCpt>
                  <produto:dataCarenciaUrgenciaEmergencia>2016-04-18</produto:dataCarenciaUrgenciaEmergencia>
                  <produto:dataCarenciaConsultaExameBasico>2016-04-18</produto:dataCarenciaConsultaExameBasico>
                  <produto:dataCarenciaTerapiaExamesEspeciais>2016-04-18</produto:dataCarenciaTerapiaExamesEspeciais>
                  <produto:dataCarenciaInternacaoPsicObstTransplantes>2016-04-18</produto:dataCarenciaInternacaoPsicObstTransplantes>
                  <produto:dataCarenciaPartoTermo>2016-04-18</produto:dataCarenciaPartoTermo>
                  <produto:dataCarenciaInternacaoClinica>2016-04-18</produto:dataCarenciaInternacaoClinica>
                  <produto:descricaoRegulamentacao>string</produto:descricaoRegulamentacao>
                  <produto:perfilRede>string</produto:perfilRede>
                  <produto:situacao>string</produto:situacao>
                  <produto:codigoPlanoTop>string</produto:codigoPlanoTop>
                  <produto:statusCarteirinha>string</produto:statusCarteirinha>
                  <produto:coberturaParcialTemporaria>string</produto:coberturaParcialTemporaria>
                  <produto:carenciaUrgenciaEmergencia>string</produto:carenciaUrgenciaEmergencia>
                  <produto:carenciaterapiaExamesEspeciais>string</produto:carenciaterapiaExamesEspeciais>
                  <produto:carenciaInternacaoPsicObstTransplantes>string</produto:carenciaInternacaoPsicObstTransplantes>
                  <produto:carenciaPartoTermo>string</produto:carenciaPartoTermo>
                  <produto:carenciaInternacaoClinica>string</produto:carenciaInternacaoClinica>
                  <ns6:carencias>
                   <ns6:carencia><!-- between zero and unlimited repetitions of this element -->
                    <ns7:especialidade>
                     <ns7:codigo>string</ns7:codigo>
                     <ns7:nome>string</ns7:nome>
                     <ns7:tipo>string</ns7:tipo>
                    </ns7:especialidade>
                    <ns8:procedimento>
                     <ns8:codigo>string</ns8:codigo>
                     <ns8:nome>string</ns8:nome>
                    </ns8:procedimento>
                    <ns6:dataFim>2016-04-18</ns6:dataFim>
                   </ns6:carencia>
                  </ns6:carencias>
                 </produto:plano>
                </produto:planos>
                <produto:coberturas>
                 <produto:cobertura><!-- between zero and unlimited repetitions of this element -->
                  <produto:codigo>string</produto:codigo>
                  <produto:nome>string</produto:nome>
                  <produto:quantidadeLimiteUso>3</produto:quantidadeLimiteUso>
                  <produto:flagReembolso>string</produto:flagReembolso>
                 </produto:cobertura>
                </produto:coberturas>
                <produto:beneficios>
                 <produto:beneficio><!-- between zero and unlimited repetitions of this element -->
                  <produto:codigo>string</produto:codigo>
                  <produto:nome>string</produto:nome>
                  <produto:dataInicioVigencia>2016-04-18</produto:dataInicioVigencia>
                  <produto:dataFimVigencia>2016-04-18</produto:dataFimVigencia>
                 </produto:beneficio>
                </produto:beneficios>
                <produto:infoComplementar>
                 <produto:nomeResponsavel>string</produto:nomeResponsavel>
                 <produto:profissao>string</produto:profissao>
                 <produto:grauEscolaridade>string</produto:grauEscolaridade>
                 <produto:nacionalidade>string</produto:nacionalidade>
                 <produto:tipoAssociado>string</produto:tipoAssociado>
                 <!-- Number of properties exceeds 5, truncated example -->
                </produto:infoComplementar>
               </produto:resultado>
              </produto:consultarCadastroResponse>
             </soapenv:Body>
            </soapenv:Envelope>
        solicitarCarteirinhaInput:
          type: object
          properties:
            Envelope:
              xml:
                prefix: soapenv
                namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
              type: object
              properties:
                Header:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/solicitarCarteirinhaHeader'
                Body:
                  type: object
                  properties:
                    solicitarCarteirinhaRequest:
                      $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/solicitarCarteirinhaRequest_produto'
                  required:
                    - solicitarCarteirinhaRequest
                  xml:
                    namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
                    prefix: soapenv
              required:
                - Body
          required:
            - Envelope
          example: |-

            <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
             <soapenv:Header>
              <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
               <wsse:UsernameToken>
                <wsse:Username>string</wsse:Username>
                <wsse:Password>string</wsse:Password>
                <wsse:Nonce EncodingType="string">string</wsse:Nonce>
                <wsu:Created>string</wsu:Created>
               </wsse:UsernameToken>
               <wsu:Timestamp wsu:Id="string">
                <wsu:Created>string</wsu:Created>
                <wsu:Expires>string</wsu:Expires>
               </wsu:Timestamp>
              </wsse:Security>
             </soapenv:Header>
             <soapenv:Body>
              <produto:solicitarCarteirinhaRequest xmlns:produto="https://segurosunimed/servicos/Schemas/mensageria/produtoAns"><!-- mandatory -->
               <produto:numeroCarteirinha>string</produto:numeroCarteirinha>
               <produto:motivoCancelamento>string</produto:motivoCancelamento>
              </produto:solicitarCarteirinhaRequest>
             </soapenv:Body>
            </soapenv:Envelope>
        solicitarCarteirinhaHeader:
          type: object
          properties:
            Security:
              $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/Security'
        solicitarCarteirinhaOutput:
          type: object
          properties:
            Envelope:
              xml:
                prefix: soapenv
                namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
              type: object
              properties:
                Body:
                  type: object
                  properties:
                    solicitarCarteirinhaResponse:
                      $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/solicitarCarteirinhaResponse_produto'
                  xml:
                    namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
                    prefix: soapenv
              required:
                - Body
          required:
            - Envelope
          example: |-

            <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
             <soapenv:Body>
              <produto:solicitarCarteirinhaResponse xmlns:ns3="https://segurosunimed/servicos/Schemas/mensageria/statusProcessamento" xmlns:produto="https://segurosunimed/servicos/Schemas/mensageria/produtoAns">
               <ns3:codigo><!-- mandatory -->3</ns3:codigo>
               <ns3:descricao><!-- mandatory -->string</ns3:descricao>
               <ns3:detalhe>string</ns3:detalhe>
               <ns3:mensagens>
                <ns3:mensagem><!-- between zero and unlimited repetitions of this element -->
                 <ns3:descricao>string</ns3:descricao>
                 <ns3:detalhe>string</ns3:detalhe>
                </ns3:mensagem>
               </ns3:mensagens>
               <produto:resultado>
                <produto:situacaoSolicitacao>string</produto:situacaoSolicitacao>
                <produto:numeroProtocolo>string</produto:numeroProtocolo>
               </produto:resultado>
              </produto:solicitarCarteirinhaResponse>
             </soapenv:Body>
            </soapenv:Envelope>
        consultarLocalEntregaInput:
          type: object
          properties:
            Envelope:
              xml:
                prefix: soapenv
                namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
              type: object
              properties:
                Header:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/consultarLocalEntregaHeader'
                Body:
                  type: object
                  properties:
                    consultarLocalEntregaRequest:
                      $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/consultarLocalEntregaRequest_produto'
                  required:
                    - consultarLocalEntregaRequest
                  xml:
                    namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
                    prefix: soapenv
              required:
                - Body
          required:
            - Envelope
          example: |-

            <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
             <soapenv:Header>
              <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
               <wsse:UsernameToken>
                <wsse:Username>string</wsse:Username>
                <wsse:Password>string</wsse:Password>
                <wsse:Nonce EncodingType="string">string</wsse:Nonce>
                <wsu:Created>string</wsu:Created>
               </wsse:UsernameToken>
               <wsu:Timestamp wsu:Id="string">
                <wsu:Created>string</wsu:Created>
                <wsu:Expires>string</wsu:Expires>
               </wsu:Timestamp>
              </wsse:Security>
             </soapenv:Header>
             <soapenv:Body>
              <produto:consultarLocalEntregaRequest xmlns:produto="https://segurosunimed/servicos/Schemas/mensageria/produtoAns"><!-- mandatory -->
               <produto:numeroCarteirinha>string</produto:numeroCarteirinha>
               <produto:numeroProtocolo>string</produto:numeroProtocolo>
              </produto:consultarLocalEntregaRequest>
             </soapenv:Body>
            </soapenv:Envelope>
        consultarLocalEntregaHeader:
          type: object
          properties:
            Security:
              $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/Security'
        consultarLocalEntregaOutput:
          type: object
          properties:
            Envelope:
              xml:
                prefix: soapenv
                namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
              type: object
              properties:
                Body:
                  type: object
                  properties:
                    consultarLocalEntregaResponse:
                      $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/consultarLocalEntregaResponse_produto'
                  xml:
                    namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
                    prefix: soapenv
              required:
                - Body
          required:
            - Envelope
          example: |-

            <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
             <soapenv:Body>
              <produto:consultarLocalEntregaResponse xmlns:ns3="https://segurosunimed/servicos/Schemas/mensageria/statusProcessamento" xmlns:produto="https://segurosunimed/servicos/Schemas/mensageria/produtoAns" xmlns:ns2="https://segurosunimed/servicos/Schemas/v2/endereco">
               <ns3:codigo><!-- mandatory -->3</ns3:codigo>
               <ns3:descricao><!-- mandatory -->string</ns3:descricao>
               <ns3:detalhe>string</ns3:detalhe>
               <ns3:mensagens>
                <ns3:mensagem><!-- between zero and unlimited repetitions of this element -->
                 <ns3:descricao>string</ns3:descricao>
                 <ns3:detalhe>string</ns3:detalhe>
                </ns3:mensagem>
               </ns3:mensagens>
               <produto:resultado>
                <produto:numeroCarteirinha>string</produto:numeroCarteirinha>
                <produto:numeroProtocolo>string</produto:numeroProtocolo>
                <produto:enderecos>
                 <ns2:identificador>string</ns2:identificador>
                 <ns2:cep>string</ns2:cep>
                 <ns2:tipoLogradouro>string</ns2:tipoLogradouro>
                 <ns2:tipo>string</ns2:tipo>
                 <ns2:logradouro>string</ns2:logradouro>
                 <ns2:numero>3</ns2:numero>
                 <ns2:complemento>string</ns2:complemento>
                 <ns2:bairro>string</ns2:bairro>
                 <ns2:cidade>
                  <ns2:codigo>string</ns2:codigo>
                  <ns2:nome>string</ns2:nome>
                 </ns2:cidade>
                 <ns2:codigoMunicipio>3</ns2:codigoMunicipio>
                 <ns2:estado>
                  <ns2:codigo>string</ns2:codigo>
                  <ns2:nome>string</ns2:nome>
                  <ns2:sigla>string</ns2:sigla>
                 </ns2:estado>
                 <ns2:coordenadasGeografica>
                  <ns2:latitude>3</ns2:latitude>
                  <ns2:longitude>3</ns2:longitude>
                  <ns2:distancia>3</ns2:distancia>
                 </ns2:coordenadasGeografica>
                </produto:enderecos>
                <produto:situacaoSolicitacao>string</produto:situacaoSolicitacao>
               </produto:resultado>
              </produto:consultarLocalEntregaResponse>
             </soapenv:Body>
            </soapenv:Envelope>
        pesquisarExtratoUtilizacaoInput:
          type: object
          properties:
            Envelope:
              xml:
                prefix: soapenv
                namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
              type: object
              properties:
                Header:
                  $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/pesquisarExtratoUtilizacaoHeader'
                Body:
                  type: object
                  properties:
                    pesquisarExtratoUtilizacaoRequest:
                      $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/pesquisarExtratoUtilizacaoRequest_produto'
                  required:
                    - pesquisarExtratoUtilizacaoRequest
                  xml:
                    namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
                    prefix: soapenv
              required:
                - Body
          required:
            - Envelope
          example: |-

            <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
             <soapenv:Header>
              <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
               <wsse:UsernameToken>
                <wsse:Username>string</wsse:Username>
                <wsse:Password>string</wsse:Password>
                <wsse:Nonce EncodingType="string">string</wsse:Nonce>
                <wsu:Created>string</wsu:Created>
               </wsse:UsernameToken>
               <wsu:Timestamp wsu:Id="string">
                <wsu:Created>string</wsu:Created>
                <wsu:Expires>string</wsu:Expires>
               </wsu:Timestamp>
              </wsse:Security>
             </soapenv:Header>
             <soapenv:Body>
              <produto:pesquisarExtratoUtilizacaoRequest xmlns:produto="https://segurosunimed/servicos/Schemas/mensageria/produtoAns"><!-- mandatory -->
               <produto:numeroBeneficiarioTitular><!-- mandatory -->string</produto:numeroBeneficiarioTitular>
               <produto:periodoEmissaoInicial>2016-04-18</produto:periodoEmissaoInicial>
               <produto:periodoEmissaoFinal>2016-04-18</produto:periodoEmissaoFinal>
              </produto:pesquisarExtratoUtilizacaoRequest>
             </soapenv:Body>
            </soapenv:Envelope>
        pesquisarExtratoUtilizacaoHeader:
          type: object
          properties:
            Security:
              $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/Security'
        pesquisarExtratoUtilizacaoOutput:
          type: object
          properties:
            Envelope:
              xml:
                prefix: soapenv
                namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
              type: object
              properties:
                Body:
                  type: object
                  properties:
                    pesquisarExtratoUtilizacaoResponse:
                      $ref: '#/x-ibm-configuration/targets/produtoOdontoService/definitions/pesquisarExtratoUtilizacaoResponse_produto'
                  xml:
                    namespace: 'http://schemas.xmlsoap.org/soap/envelope/'
                    prefix: soapenv
              required:
                - Body
          required:
            - Envelope
          example: |-

            <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
             <soapenv:Body>
              <produto:pesquisarExtratoUtilizacaoResponse xmlns:ns3="https://segurosunimed/servicos/Schemas/mensageria/statusProcessamento" xmlns:produto="https://segurosunimed/servicos/Schemas/mensageria/produtoAns" xmlns:ns4="https://segurosunimed/servicos/Schemas/beneficiario" xmlns:ns2="https://segurosunimed/servicos/Schemas/v2/endereco" xmlns:ns5="https://segurosunimed/servicos/Schemas/pagamento/tituloFinanceiro">
               <ns3:codigo><!-- mandatory -->3</ns3:codigo>
               <ns3:descricao><!-- mandatory -->string</ns3:descricao>
               <ns3:detalhe>string</ns3:detalhe>
               <ns3:mensagens>
                <ns3:mensagem><!-- between zero and unlimited repetitions of this element -->
                 <ns3:descricao>string</ns3:descricao>
                 <ns3:detalhe>string</ns3:detalhe>
                </ns3:mensagem>
               </ns3:mensagens>
               <produto:resultado>
                <produto:nomeEmpresa>string</produto:nomeEmpresa>
                <produto:cnpj>string</produto:cnpj>
                <produto:numeroBeneficiarioTitular>string</produto:numeroBeneficiarioTitular>
                <produto:nomeBeneficiarioTitular>string</produto:nomeBeneficiarioTitular>
                <produto:matriculaTitular>string</produto:matriculaTitular>
                <produto:numeroLotacao>string</produto:numeroLotacao>
                <produto:periodoEmissaoInicial>2016-04-18</produto:periodoEmissaoInicial>
                <produto:periodoEmissaoFinal>2016-04-18</produto:periodoEmissaoFinal>
                <ns4:listaBeneficiario>
                 <ns4:beneficiario><!-- between zero and unlimited repetitions of this element -->
                  <ns4:numero>string</ns4:numero>
                  <ns4:nome>string</ns4:nome>
                  <ns4:situacao>string</ns4:situacao>
                  <ns4:dataNascimento>2016-04-18</ns4:dataNascimento>
                  <ns4:numeroCns>string</ns4:numeroCns>
                  <ns4:dataInclusaoPlano>string</ns4:dataInclusaoPlano>
                  <ns4:tipoContrato>string</ns4:tipoContrato>
                  <ns4:numeroContrato>string</ns4:numeroContrato>
                  <ns4:nomeEmpresa>string</ns4:nomeEmpresa>
                  <ns4:nomeAdministradora>string</ns4:nomeAdministradora>
                  <ns4:codigoPlano>string</ns4:codigoPlano>
                  <ns4:codigoProduto>string</ns4:codigoProduto>
                  <ns4:nomePlano>string</ns4:nomePlano>
                  <ns4:utilizacoes>
                   <ns4:utilizacao><!-- between zero and unlimited repetitions of this element -->
                    <ns4:tipo>string</ns4:tipo>
                    <ns4:atendimentos>
                     <ns4:atendimento><!-- between zero and unlimited repetitions of this element -->
                      <ns4:tipo>string</ns4:tipo>
                      <ns4:codigoPrestador>string</ns4:codigoPrestador>
                      <ns4:nomePrestador>string</ns4:nomePrestador>
                      <ns4:numeroPrestadorCnpj>string</ns4:numeroPrestadorCnpj>
                      <ns4:numero>3</ns4:numero>
                      <ns4:numeroConta>string</ns4:numeroConta>
                      <ns4:codigoItem>string</ns4:codigoItem>
[...]
